body{
    background-color: #6D9886;
}
.calc{
    max-width:40%;
    margin:10% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.but{
    box-sizing: border-box;
    text-align: center;
    flex-basis: 18%;
    min-width: 10%;
    background-color: #E5DCC3;
    height: 40px;
    font-size: 25px;
    padding-top: 5px;
    flex-basis: 20%;
    border:1px solid grey;
}
.ope{
    background-color: #9A9483;
}
.but:hover{
    cursor: pointer;
}
.but:active{
 font-size: 30px;
}
.input{
    background-color: #6B4F4F;
    color: white;
    flex-basis: 100%;
    min-width: inherit;
    text-align: right;
    min-height: 60px;
}
.input:hover{cursor:default;}